name: GitHub CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# No permissions are required for this workflow
permissions: {}

jobs:
  test:
    name: General checks, tests and build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Use Node.js LTS 20.11.0
      uses: actions/setup-node@v4
      with:
        node-version: 20.11.0

    - name: Install dependencies
      run: npm ci

    - name: Perform checks and tests
      run: npm test

    - name: Perform preload build
      run: npm run build

    - name: Perform self-contained build
      run: npm run build-self-contained
